.mr-b10 {
  margin-bottom: 10px;
}

.mr-b25 {
  margin-bottom: 25px;
}

.mr-r4 {
  margin-right: 4px;
}

.mr-r10 {
  margin-right: 10px;
}

.mr-r15 {
  margin-right: 15px;
}

.mr-l4 {
  margin-left: 4px;
}

.mr-l10 {
  margin-left: 10px;
}

.mr-l15 {
  margin-left: 15px;
}
